h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

.navbar {
    list-style-type: none;
    text-align: center;
    z-index: 5;
    align-items: center;
    color: black;
}
.nav-link,
.navbar-brand {
    color: black;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
    overflow: hidden;
    white-space: nowrap;
    color: black;
}
.nav-link:hover {
    /*background-color: #78C5F9;*/
    /*background-color: #ff6161;*/
    background-image: linear-gradient(to bottom right, #ff6161, #ffb061, #faf441, #b9fc79, #a0ecfa, #bea0fa);
    color: black;
}
.navbar-collapse {
    justify-content: flex-end;
}

.small-width {
    width: 300px;
}

p.aboutmep {
    text-align: center;
    width: 700px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    alignment: left;
}

.center {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
}

.home {
    background-color: #ff6161;
}

.aboutme {
    background-color: #ffb061;
}

.randomthoughts {
    background-color: #faf441;
}

.favoriteworksothers {
    background-color: #b9fc79;
}

.favoriteworksmyown {
    background-color: #a0ecfa;
}

.contact {
    background-color: #bea0fa;
}

.item-textbox {
    width: 300px;
}

button {

}