/* h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
} */

.header {
    background-size: cover;
    background-position: center;
    position: relative;
}

.viewport-height {
    height: 100vh;
}

.center {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
}

.navbar {
    list-style-type: none;
    text-align: center;
    z-index: 5;
    align-items: center;
    color: black;
}
.nav-link,
.navbar-brand {
    color: black;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
    overflow: hidden;
    white-space: nowrap;
    color: black;
}
.nav-link:hover {
    /*background-color: #78C5F9;*/
    /*background-color: #ff6161;*/
    background-image: linear-gradient(to bottom right, #ff6161, #ffb061, #faf441, #b9fc79, #a0ecfa, #bea0fa);
    color: black;
}
.navbar-collapse {
    justify-content: flex-end;
}

p.aboutmep {
    text-align: center;
    width: 700px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    alignment: left;
}

.center {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 20px;
}

.grid-element {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    padding: 50px;
    color: rgb(0, 0, 0);
    border: 5px solid rgba(255, 255, 255, 0.192);
    border-radius: 25px;
}

.item-textbox {
    width: 300px;
}

button {
    border-color: black;
}